@import '~@blueprintjs/core/lib/scss/variables';

.InlineControls {
  display: flex;
  > * {
    margin-right: calc($pt-grid-size / 2);
    &:last-child {
      margin-right: 0;
    }
  }
}

.Fill {
  flex-grow: 1;
}

.AlignCenter {
  align-items: center;
}

.AlignStart {
  align-items: flex-start;
}

.AlignEnd {
  align-items: flex-end;
}

.Text {
  & > * {
    margin-right: 0;

    & + * {
      margin-left: 8px;
    }
  }
}
