{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    [
      "@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "both"
    },
    "production": {
      "sourceMaps": true
    }
  }
}
