parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    parallel:
        processTimeout: 300.0
    paths:
        - src
        - tests